<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attacker</title>

    <style>
        body {
            background-color: black;
            color: white;
        }

        .title {
            text-align: center;
        }

        .skull {
            display: inline;
            color: red;
            font-size: 8px;
            padding: 10px;
            overflow: auto;
        }

        .wrapper {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="title">
        <h1>Welcome to the attacker</h1>
    </div>

    <div class="wrapper">
        <div class="skull">
            <pre>
                             uuuuuuuuuuuuuuuuuuuuu.
                         .u$$$$$$$$$$$$$$$$$$$$$$$$$$W.
                       u$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$Wu.
                     $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$i
                    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
               `    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                 .i$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$i
                 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$W
                .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$W
               .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$i
               #$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.
               W$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $u       #$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$~
      $#      `"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $i        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$        #$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$         $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      #$.        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$#
       $$      $iW$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$!
       $$i      $$$$$$$#"" `"""#$$$$$$$$$$$$$$$$$#""""""#$$$$$$$$$$$$$$$W
       #$$W    `$$$#"            "       !$$$$$`           `"#$$$$$$$$$$#
        $$$     ``                 ! !iuW$$$$$                 #$$$$$$$#
        #$$    $u                  $   $$$$$$$                  $$$$$$$~
         "#    #$$i.               #   $$$$$$$.                 `$$$$$$
                $$$$$i.                """#$$$$i.               .$$$$#
                $$$$$$$$!         .   `    $$$$$$$$$i           $$$$$
                `$$$$$  $iWW   .uW`        #$$$$$$$$$W.       .$$$$$$#
                  "#$$$$$$$$$$$$#`          $$$$$$$$$$$iWiuuuW$$$$$$$$W
                     !#""    ""             `$$$$$$$##$$$$$$$$$$$$$$$$
                i$$$$    .                   !$$$$$$ .$$$$$$$$$$$$$$$#
               $$$$$$$$$$`                    $$$$$$$$$Wi$$$$$$#"#$$`
               #$$$$$$$$$W.                   $$$$$$$$$$$#   ``
                `$$$$##$$$$!       i$u.  $. .i$$$$$$$$$#""
                   "     `#W       $$$$$$$$$$$$$$$$$$$`      u$#
                                  W$$$$$$$$$$$$$$$$$$      $$$$W
                                  $$`!$$$##$$$$``$$$$      $$$$!
                                 i$" $$$$  $$#"`  """     W$$$$
                                                         W$$$$!
                            uW$$  uu  uu.  $$$  $$$Wu#   $$$$$$
                           ~$$$$iu$$iu$$$uW$$! $$$$$$i .W$$$$$$
                   ..  !   "#$$$$$$$$$$##$$$$$$$$$$$$$$$$$$$$#"
                   $$W  $     "#$$$$$$$iW$$$$$$$$$$$$$$$$$$$$$W
                   $#`   `       ""#$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                    !$$$$$$$$$$$$$$$$$$$$$#`
                                    $$$$$$$$$$$$$$$$$$$$$$!
                                  $$$$$$$$$$$$$$$$$$$$$$$`
                                   $$$$$$$$$$$$$$$$$$$$"
      
    </div>
</div>
</body>

</html>